html {
    height: 100%;
    overflow: hidden;
}

body, .content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100%;
}

#title {
    text-align: center;
}

.board {
    display: grid;
    grid-template: repeat(10, minmax(0, 1fr)) / repeat(10, minmax(0, 1fr));
    min-width: 400px;
    min-height: 400px;
}

.board.two>*:hover {
    border: 1px solid red;
}

.boards {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    user-select: none;
}


.ship.wrapper {
    display: flex;
}

/* .carrier-grid{
    display: grid;
    grid-template: repeat(5, minmax(0, 40px));
    min-width: 40px;
    min-height: 200px;
    background-color: blue;
} */

.ships-container {
    margin: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.ships-container>*:hover {
    transform: scale(1.1);
}


.carrier,
.carrier-container {
    background-color: darkblue;
}

.battleship,
.battleship-container {
    background-color: pink;
}

.cruiser,
.cruiser-container {
    background-color: lightgreen;
}
.submarine,
.submarine-container {
    background-color: lightcoral;
}
.destroyer,
.destroyer-container {
    background-color: yellow;
}

.hit {
    background-color: red;
}

.miss {
    background-color: aqua;
}

.sunk {
    background-color: rgb(29, 0, 0) !important;
}

.instructions {
    text-align: center;
}

.modal {
    display: flex;
    position: fixed;
    padding-top: 11em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    align-items: flex-start;
    justify-content: center;
}

.modal-content {
    color: white;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opacity {
    opacity: 0.2;
}