html {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100%;
}

.board {
    display: grid;
    grid-template: repeat(10, minmax(0, 1fr)) / repeat(10, minmax(0, 1fr));
    min-width: 400px;
    min-height: 400px;
}

.boards {
    display: flex;
    justify-content: space-around;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
}

.ship.wrapper {
    display: flex;
}

.carrier{
    display: grid;
    grid-template: repeat(5, minmax(0, 40px));
    min-width: 40px;
    min-height: 200px;
}
