html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: grey;
}

body, .content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100%;
}

#title {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

#board-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template: repeat(10, minmax(0, 1fr)) / repeat(10, minmax(0, 1fr));
    min-width: 400px;
    min-height: 400px;
}

.board.two {
    pointer-events: auto;
}

.board.two>*:hover {
    border: 1px solid red;
}

.boards {
    display: flex;
    justify-content: center;
    gap: 20%;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    user-select: none;
}


.ship.wrapper {
    display: flex;
}

.ships-container {
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.ships-container>*{
    margin: 1rem;
}

.ships-container>*:hover {
    transform: scale(1.1);
}


.carrier,
.carrier-container {
    background-color: darkblue;
}

.battleship,
.battleship-container {
    background-color: pink;
}

.cruiser,
.cruiser-container {
    background-color: lightgreen;
}
.submarine,
.submarine-container {
    background-color: rgb(80, 0, 98);
}
.destroyer,
.destroyer-container {
    background-color: yellow;
}

.hit {
    background-color: rgb(255, 0, 0);
}

.miss {
    background-color: aqua;
}

.sunk {
    background-color: rgb(29, 0, 0) !important;
}

.instructions {
    text-align: center;
}

.modal {
    display: flex;
    position: fixed;
    padding-top: 11em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    align-items: flex-start;
    justify-content: center;
}

.modal-content {
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restart {
    padding-top: 5px;
    background-color: white;
    border: 4px solid white;
    border-radius: 12px;
}

.opacity {
    opacity: 0.2;
}